:root {
  --color-white: #fff;
  --font-inter: Inter;
  --color-dimgray: #696969;
  --color-pink-100: #FE9B83;
  --color-pink-100: #E3BDB4;
  --color-darkgray-100: #a9a9a9;
  --font-size-lgi: 15px;
  --font-size-lg: 20px;
  --font-sansita-one: sansita one;
  --font-roboto: roboto;
  --font-size-36xl: 50px; 
  --font-size-9xl: 20px;
  --br-54xl: 157px;
  --font-size-5xl: 24px;

  

}


/* History Page */
.history-section{
  width: 80%;
  margin: -2rem auto 2rem auto;
  background-color: #fff;
  padding: 1.5rem;
  
}

.history-header-one{
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 4rem;
  background-color: #FAC0B3;
  letter-spacing: 0.5rem;
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  text-emphasis-color: transparent;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.history-header-one, .history-overview, .history-header-two-sub, .history-mission, .history-library, .history-registration, .history-registration-two, .contents-sheltering, .committee-overview-sheltering, .incident-response-sheltering, .hazard-overview, .hazard-header-one, .hazard-journal-info, .hazard-publisher, .hazard-right-usage{
  font-weight: 900;
  border-bottom: 1px solid #c0c0c0;
  line-height: 2.3;
  margin-top: -3rem;
  text-transform: uppercase;
}

.history-overview, .history-header-two-sub, .history-mission, .history-library, .history-registration, .history-registration-two, .contents-sheltering, .committee-overview-sheltering, .incident-response-sheltering, .hazard-overview, .hazard-header-one, .hazard-journal-info, .hazard-publisher, .hazard-right-usage{
  color: #FAC0B3;
  font-size: 2.5rem;
  font-family: 'Roboto';
  font-weight: 700;
  margin-top: 5rem;
}

.overview p, span, .history-header-two p, .mission p, .library p, .registration p, .registration-two p, .table-of-contents .contents-sheltering-list, .committee-overview p, .incident-response p, .safety-form p, .abstract p, .journal-info p, .publisher p, .rights p{
  margin-top: 1.2rem;
  font-size: 1.5rem;
  font-family: var(--font-roboto);
  color: #696969;
}

.overview p span{
  display: inline-block;
  font-style: italic;
  margin: 2rem 0 0 2rem;
  color:#a9a9a9;
  font-weight: 900;
  width: 30%;
}

.overview p span::before{
  content: ' [ ';
  color:#FAC0B3;
  font-weight: 900;
}

.overview p span::after{
  content: ' ] ';
  color:#FAC0B3;
  font-weight: 900;
}

.history-header-two .historical-records h2{
  margin-top: 1.5rem;
  text-transform: uppercase;
  font-weight: 900;
}

.history-header-two  p{
  margin-top: 0;
  margin-bottom: 1.5rem;
}

ul.historical-records-lists{
  list-style-type:none;
}

ul.historical-records-lists li{
  font-size: 1.5rem;
  text-decoration: none;
  color:#a9a9a9;
  font-style: italic;
  font-family: var(--font-roboto);
}

li{
  font-size: 1.5rem;
  text-decoration: none;
}

.ul.historical-records-lists li:active{
  color:#c0c0c0;
}

.registration-two p iframe{
  width: 100%;
  height: 35rem;
}


.unsplashejqlf0givq8-icon {
  position: absolute;
  width: 100%;
  top: 0;
  right: -0.07%;
  left: 0.07%;
  max-width: 100%;
  overflow: hidden;
  height: 842px;
  object-fit: cover;
}
.bg,
.bg1 {
  position: absolute;
}
.bg1 {
  width: calc(100% - 64px);
  top: 50.5px;
  right: 29px;
  left: 35px;
  border-radius: 60px;
  background-color: var(--color-white);
  height: 744px;
}
.bg {
  width: 100%;
  top: 0;
  right: -0.03%;
  left: 0.03%;
  height: 842px;
}
.unsplashejqlf0givq8-icon1 {
  position: absolute;
  width: 22.26%;
  top: 152px;
  right: 8.84%;
  left: 68.9%;
  max-width: 100%;
  overflow: hidden;
  height: 512px;
  object-fit: cover;
}
.did-you-know {
  align-self: stretch;
  position: relative;
  font-weight: 900;
}
.early-attempts-to {
  margin: 0;
}
.sports1 {
  text-decoration: underline;
}
.sports {
  color: inherit;
}
.early-attempts-to-container {
  align-self: stretch;
  position: relative;
  font-size: 16px;
  line-height: 170.02%;
  font-family: var(--font-inter);
  color: var(--color-darkgray-100)
}
.did-you-know-page-contents {
  position: absolute;
  width: 48.13%;
  top: 116px;
  right: 43.81%;
  left: 8.06%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 54px;
}
.bg-parent {
  position: absolute;
  width: 100.21%;
  top: 2037px;
  right: -0.1%;
  left: -0.1%;
  height: 842px;
  overflow: hidden;
}
.unsplash0xho26jb8dk-icon,
.unsplashnikdyh6iya0-icon,
.unsplashyyfwukzv5fm-icon {
  position: absolute;
  width: 30.45%;
  top: 1224px;
  right: 11.28%;
  left: 58.27%;
  max-width: 100%;
  overflow: hidden;
  height: 366px;
  object-fit: cover;
}
.unsplashnikdyh6iya0-icon,
.unsplashyyfwukzv5fm-icon {
  width: 25%;
  top: 1590px;
  right: 5.84%;
  left: 69.16%;
  height: 344px;
}
.unsplashnikdyh6iya0-icon {
  width: 19.46%;
  top: 1460px;
  right: 25%;
  left: 55.54%;
  height: 334px;
}
.youll-surely {
  color: var(--color-dimgray);
}
.enjoy {
  color: #FE9B83
}
.mountaineering-also-called-container,
.youll-surely-enjoy-container {
  align-self: stretch;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  
}
.youll-surely-enjoy-container {
  letter-spacing: 0.05em;
  height: 151px;
}
.mountaineering-also-called-container {
  font-size: 14px;
  line-height: 164.52%;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-darkgray-100);
  height: 225px;
}


.learn-moredefault-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #FAC0B3
}
.learn-more-btn {
  border: none;
  color: white;
  background-color: #FAC0B3;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  top: 21px;
  left: 15.65%;
  height: 62px;
  width: 147px;

}



.learn-more1 {
  position: absolute;
  height: 46.77%;
  width: 69.39%;
  top: 33.87%;
  left: 15.65%;
  font-weight: 800;
  display: inline-block;
}
.learn-more3,
.learn-moredefault {
  position: absolute;
  top: 0;
  left: 0;
  width: 147px;
  height: 62px;
}
.learn-more3 {
  top: 21px;
  left: 23px;
  font-weight: 800;
  display: inline-block;
  width: 102px;
  height: 29px;
}
.learn-more {
  position: relative;
  background-color: var(--color-pink-100);
  width: 147px;
  height: 62px;
  flex-shrink: 0;
  font-size: var(--font-size-lgi);
  color: var(--color-white);
}
.youll-surely-enjoy-this-exper-parent {
  position: absolute;
  width: 47.43%;
  top: 1282px;
  right: 48.96%;
  left: 3.61%;
  display: flex;
  flex-direction: column;
  padding: 0 0 70px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 46px;
  font-size: var(--font-size-36xl);
  color: var(--color-dimgray);
}
.unsplashhkhcv41gopa-icon {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 985px;
  object-fit: cover;
}
.bg-child {
  overflow: hidden;
}
.bg-child,
.bg2 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 985px;
}
.phmountains-bold-icon {
  position: absolute;
  top: 19px;
  left: 65.45px;
  width: 60.68px;
  height: 58px;
  overflow: hidden;
}
.alpine-ascents {
  top: 71px;
  left: 25px;
  display: inline-block;
  width: 209px;
  height: 51px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.alpine-ascents,
.home,
.logo {
  position: absolute;
}
.logo {
  width: calc(100% - 90px);
  top: 13px;
  right: 53px;
  left: 37px;
  border-radius: 64px;
  background-color: var(--color-white);
  height: 141px;
  color: var(--color-dimgray);
  font-family: var(--font-sansita-one);
}
.home {
  top: 0;
  right: 658px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us,
.home,
.pages {
  width: 146px;
  height: 57px;
}
.about-us {
  position: absolute;
  top: 0;
  right: 442px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pages {
  right: 238px;
}
.contact-us,
.home2,
.pages {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-us {
  right: 0.5px;
  width: 146px;
  height: 57px;
}
.home2 {
  height: 100%;
  width: 100%;
  left: 0;
}
.about-usdefault,
.home1 {
  position: absolute;
  top: 0;
  right: 658px;
  width: 146px;
  height: 57px;
}
.home1 .home2 a {
  text-decoration: none;
  color: inherit;
}


.about-usdefault,
.home1 {
  position: absolute;
  top: 0;
  right: 658px;
  width: 146px;
  height: 57px;
  text-align: center;
  line-height: 57px;
  opacity: 0.5;
  transition: opacity 0.3s ease, background-color 0.3s ease;
}

.about-usdefault:hover,
.home1:hover {
  opacity: 1;
  background-color: #FE9B83; /* background color on hover */
  color: white;
}

.about-usdefault {
  right: 442px;
}
.about-usdefault .home2 a {
  text-decoration: none;
  color: inherit;
}

.frame-child {
  position: relative;
  width: 8.83px;
  height: 7.18px;
  flex-shrink: 0;
}
.pages-parent {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  width: 146px;
  height: 57px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}
.history {
  position: relative;
  justify-content: center;
  width: 90px;
  height: 19px;
}
.history,
.history-wrapper,
.techniques,
.typesstyles {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.history-wrapper {
  border-radius: var(--br-8xs);
  width: 146px;
  height: 57px;
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-xs);
  box-sizing: border-box;
  justify-content: flex-start;
}
.techniques,
.typesstyles {
  position: relative;
  justify-content: center;
  width: 112px;
  height: 19px;
}
.techniques {
  width: 94px;
}
.frame-parent {
  position: absolute;
  top: 62px;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-pink-100);
  border: 1px solid var(--color-black);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--color-white);
}
.contact-us1,
.pages-selector {
  position: absolute;
  top: 0;
  right: 210px;
  width: 146px;
  height: 290px;
  text-align: center;
  line-height: 57px;
  opacity: 0.5;
  transition: opacity 0.3s ease, background-color 0.3s ease;
}
.contact-us1:hover,
.home2:hover {
  opacity: 1;
  background-color: #FE9B83; /* background color on hover */
  color: white;
}

.contact-us1 {
  right: 0;
  height: 57px;
}
.contact-us1 .home2 a {
  text-decoration: none;
  color: inherit;
}
.menu-items {
  position: absolute;
  top: 58px;
  left: calc(50% - 203px);
  width: 804px;
  height: 290px;
  text-align: center;
  font-size: var(--font-size-lg);
  color: var(--color-darkgray-100);
}
.arrowupright-icon {
  position: absolute;
  top: 30px;
  left: 247px;
  width: 34px;
  height: 28px;
  overflow: hidden;
}
.discover-more,
.discover-more1 {
  position: absolute;
  top: 31px;
  left: 49px;
  font-weight: 800;
  display: inline-block;
  width: 288px;
  height: 35px;
}
.discover-more1 {
  display: none;
}
.discover-button1 {
  position: absolute;
  top: 0;
  left: calc(50% - 157px);
  border-radius: var(--br-54xl);
  background-color: #e3bdb4;
  width: 314px;
  height: 91px;
  transition: background-color 0.3s ease-in-out;
}

.discover-button1:hover {
  background-color: #FE9B83;
}

.arrowupright-icon2 {
  position: absolute;
  top: 31px;
  left: calc(50% + 90px);
  width: 34px;
  height: 28px;
  overflow: hidden;
}
.discover-more2 {
  position: absolute;
  top: 32px;
  left: calc(50% - 108px);
  font-weight: 800;
  display: inline-block;
  width: 232px;
  height: 35px;
}
.discover-more2 a {
  text-decoration: none;
  color: inherit;
}
.discover-button {
  position: absolute;
  top: 773px;
  left: calc(50% - 165px);
  width: 314px;
  height: 91px;
  font-size: var(--font-size-5xl);
  background-color: #FAC0B3;
  border-radius: var(--br-54xl);
}

.providing-the-best {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.05em;
  font-weight: 900;
}
.climb-the-mountain,
.lets-enjoy-the {
  position: relative;
  letter-spacing: 0.1em;
}
.lets-enjoy-the {
  font-size: var(--font-size-5xl);
  display: inline-block;
  width: 885px;
  height: 51px;
  flex-shrink: 0;
}
.climb-the-mountain {
  align-self: stretch;
  font-size: 15px;
  font-weight: 600;
}
.content {
  position: absolute;
  width: 65.21%;
  top: 342px;
  right: 17.8%;
  left: 16.99%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 36px;
  text-align: center;
  font-size: var(--font-size-36xl);
}
.homepage {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 985px;
  font-size: var(--font-size-9xl);
  color: var(--color-white);
}
.desktop-1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 3200px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-pink-100);
  font-family: var(--font-roboto);
}

.property-1rectangle-1-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #696969;
}
.social-icon {
  position: absolute;
  height: 5%;
  width: 9.35%;
  top: 81.75%;
  right: 37.6%;
  bottom: 13.25%;
  left: 53.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0.5;
}
.copyright-2023 {
  position: absolute;
  height: 6.25%;
  width: 13.23%;
  top: 80.5%;
  left: 34.89%;
  line-height: 150%;
  display: inline-block;
}
.property-1rectangle-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 150.13rem;
  height: 25rem;
}
.input-background {
  position: absolute;
  height: 120%;
  width: 69.49%;
  top: 0;
  right: 30.51%;
  bottom: 0;
  left: 0;
  border-radius: 8px;
  background-color: #2b2e3c;
}
.placeholder {
  position: absolute;
  height: 42.86%;
  width: 27.8%;
  top: 28.57%;
  left: 5.27%;
  line-height: 150%;
  display: inline-block;
  opacity: 0.5;
}
.subscribe {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  text-decoration: none;
}
.button,
.form {
  position: absolute;
  right: 0;
}
.button {
  height: 80.26%;
  width: 28.14%;
  top: 10.03%;
  bottom: 9.71%;
  left: 71.86%;
  border-radius: 12px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  padding: 1rem 2.5rem;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  color: gray;
}
.form {
  height: 33.42%;
  width: 99.3%;
  top: 66.58%;
  bottom: 0;
  left: 0.7%;
}
.alpine-ascents-f,
.subscribe-to-our {
  position: absolute;
  line-height: 150%;
  display: inline-block;
}
.subscribe-to-our {
  height: 16.11%;
  width: 53.54%;
  top: 38.67%;
  left: 0;
  font-size: var(--font-size-lg);
  font-weight: 600;
}
.alpine-ascents-f {
  height: 23.95%;
  width: 93.19%;
  top: 0;
  left: 0.7%;
  font-size: 2.88rem;
  letter-spacing: 0.5px;
}
.footer-column-subscribe {
  position: absolute;
  height: 89.6%;
  width: 38.55%;
  top: 5.15%;
  right: 0.82%;
  bottom: 5.25%;
  left: 60.62%;
}
.contact-us1-f {
  margin: 0;
}
.blog,
.contact-us-f {
  position: absolute;
  height: 15.48%;
  width: 52.66%;
  top: 84.52%;
  left: 0;
  line-height: 150%;
  display: inline-block;
  opacity: 0.6;
}
.blog {
  width: 20.71%;
  top: 63.87%;
}
.terms-and-condition {
  height: 15.48%;
  width: 99.41%;
  top: 43.23%;
  opacity: 0.6;
}
.privacy-policy,
.resources,
.terms-and-condition {
  position: absolute;
  left: 0.59%;
  line-height: 150%;
  display: inline-block;
}
.privacy-policy {
  height: 15.48%;
  width: 64.5%;
  top: 22.58%;
  opacity: 0.6;
}
.resources {
  height: 17.42%;
  width: 55.03%;
  top: 0;
  font-size: var(--font-size-lg);
  text-transform: capitalize;
  font-weight: 600;
}
.footer-column {
  position: absolute;
  height: 82.89%;
  width: 18.19%;
  top: 0;
  right: 59.04%;
  bottom: 17.11%;
  left: 22.77%;
}
.testimonial {
  position: absolute;
  height: 19.3%;
  width: 74.98%;
  top: 80.7%;
  left: 0;
  line-height: 150%;
  display: inline-block;
  opacity: 0.6;
}
.why-choose-us {
  height: 19.3%;
  width: 99.98%;
  top: 53.89%;
  opacity: 0.6;
}
.about-us-f,
.company,
.why-choose-us {
  position: absolute;
  left: 0.02%;
  line-height: 150%;
  display: inline-block;
}
.about-us-f {
  height: 19.3%;
  width: 58.05%;
  top: 28.15%;
  opacity: 0.6;
}
.company {
  height: 21.72%;
  width: 73.37%;
  top: 0;
  font-size: var(--font-size-lg);
  text-transform: capitalize;
  font-weight: 600;
}
.footer-column1 {
  position: absolute;
  height: 66.48%;
  width: 18.05%;
  top: 0;
  right: 81.81%;
  bottom: 33.52%;
  left: 0.14%;
}
.property-1footer-cols {
  position: absolute;
  top: calc(50% - 154px);
  left: calc(50% - 699px);
  width: 88.19rem;
  height: 14.56rem;
  font-size: var(--paragraph-size);
  font-family: var(--paragraph);
}
.component-1 {
  position: absolute;
  width: 100.57%;
  top: 0;
  right: 9.46%;
  left: -0.02%;
  border-radius: 5px;
  height: 23.75rem;
  overflow: hidden;
}
.component-1-parent {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 23.75rem;
  overflow: hidden;
  text-align: left;
  font-size: 1.25rem;
  color: var(--white);
  font-family: var(--font-inter);
}
